:root {
  font: 16px / 1 sans-serif;
  font-family: 'Cuprum', sans-serif;
}

html {
  font-size: 10px;
  background: ;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  background: #fff;
  border-bottom: 0.1px solid #000;
  height: 60px;
  padding: 10px;
}

header h1 {
  font-size: 11px;
  margin-top: 12px;
  margin-left: 10px;
}

.container {
  background: #b292be;
  width: 298px;
  padding: 10px;
  margin-top: 20px;
}

h2 {
  margin-bottom: 30px;
  color: #fff;
}

input {
  margin-bottom: 30px;
}

img {
  float: left;
}

ul {
  clear: both;
}
